.new-user {
  position: fixed; /* Stay in place */
  z-index: 900; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fff; /* Black w/ opacity */
}

.new-user .msg {
  position: absolute;
  top: 30% !important;
}

.no-subscription a {
  color: #005eb8 !important;
  text-decoration: underline !important;
}
