.new-user {
  position: fixed; /* Stay in place */
  z-index: 900; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fff; /* Black w/ opacity */
}

.new-user .msg {
  position: absolute;
  top: 30% !important;
}

.no-subscription{
  text-decoration: none !important;
  font-size: var(--fs-mid);
  z-index: 1;
  position: unset;
}

.alerts > div{
  font-size: var(--fs-small);
}

.no-subscription .btn{
  background-color: var(--ge-lightblue) !important;
}
.no-subscription .btn:hover, .no-subscription a {
  background-color: var(--ge-darkblue) !important;
}

.no-subscription .btn.disabled{
  z-index: -1;
  background-color: var(--ge-darkgrey) !important;
}