.breadcrumb {
  padding: 0 !important;
  margin-bottom: 0.5rem !important;
  font-size: clamp(0.5rem, 0.9vw, 2rem);
  user-select: none;
  background-color: #fff !important;
}

.breadcrumb-item {
  padding: 0 0.1rem !important;
}

.breadcrumb-item a{
  color: #055eb8 !important;
}

.breadcrumb-item a:hover{
  text-decoration: underline !important;
}

.breadcrumb-item.active, .breadcrumb-item.active a {
  color: #333f48 !important;
  font-weight: bold;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
  padding-right: 0.2rem !important;
}
