@import-normalize;

* {
  box-sizing: border-box;
  outline: none !important;
}

@font-face {
  font-family: GE Inspira Sans;
  src: url(./GEInspiraSans-Regular-v02.ttf);
}

::placeholder {
  color: #333f48;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #333f48;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #333f48;
}

body {
  overflow-x: hidden;
  font-family: GE Inspira Sans !important;
  color: #005eb8 !important;
}

html::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px white(0, 0, 0, 0.3);
  } */

html::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

img{
  user-select: none;
}

#sidebar-wrapper {
  position: fixed;
  /* width: 24%; */
  min-height: 100vh;
  background-color: #002e5d !important;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

.sidebar-heading {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: white;
  background-color: #005eb8;
  height: 18vh;
  padding: 3.7vh 0;
}

.dropdown-content {
  display: none;
  top:0px !important;
  padding: 0!important;
  margin-left: 0 !important;
  position: absolute;
  background-color: #002e5d;
  z-index: 1;
  font-size: 1em;
  border-radius: 0 !important;
  border: none !important;
}

.dropdown-content a {
  text-align: center;
  color: white;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #005eb8 !important;
  color: white !important;
}

/* Show the dropdown menu on hover */
.sidebarMenu:hover .dropdown-content {
  display: block;
}

.sidebarMenu {
  position: relative;
  display: inline-block;
  font-size: 1.2em;
}

.sidebarMenu img {
  width: 10%;
  padding-right: 0.9rem;
  padding-bottom: 0.2rem;
}

.titles {
  font-size: 1.4em;
  font-weight: bold;
  user-select: none !important;
}

.center-header{  
  width: 75% !important;
  position: fixed !important;
  padding: 1rem 1rem !important;
  background-color: white;
  height: 18vh;
}

.headers, .GE-header {
  font-size: 1.5em;
  font-weight: bold;
  flex-flow: column;
  user-select: none !important;
  padding-top: 1vh;
}

.headers{
  padding: 2.5vh 0 !important;
}


.GE-Logo{
  width: 9vh;
}

.GE-header a, .GE-header a:hover{
  color: #fff!important;
}

.user-details {
  font-size: 0.9em;
  user-select: none !important;
}

.global-icon img {
  height: 14px !important;
}

.global-icon {
  font-size: 0.47em;
  font-weight: lighter;
  position: relative;
}

.global-icon .search {
  position: relative;
  width: 9rem;
  height: 33px;
  margin: 0 0.5rem;
}

.global-icon .search>.dropdown-item:focus, .global-icon .search>.dropdown-item:hover{
  background-color: #fff !important;
}

.sub-org-space {
  margin-left: 10px;
  color: #333f48;
}

.dropdown-toggle, .dropdown-item {
  color: #333f48;
}

.dropdown-toggle:hover {
  color: #59cbe8 !important;
}

.list-group-flush .list-group-item {
  border-width: 0 0 0px !important;
  background-color: inherit !important;
  color: white;
}

.list-group-item{
  padding: 1.2rem 0;
  padding-left: 4.5rem !important;
  user-select: none;
}

.dropdown-content .dropdown-item{
  padding: 1.23rem 0.78rem;
  text-align: left;
}

.service-tile-content {
  position: unset !important;
}

.service-text {
  color: #005eb8;
  text-decoration: none;
}

a:hover {
  color: #333f48 !important;
  text-decoration: none !important;
}

.list-group-item-action:focus {
  color: white !important;
  font-weight: bold;  
  background-color: #005eb8 !important;
}

.list-group-item-action:active {
  color: white !important;
  font-weight: bold;
}

.list-group-item-action:hover {
  color: white !important;
  font-weight: bold;
  background-color: #005eb8 !important;
}

.footer {
  user-select: none;
  position: fixed !important;
  bottom: 1rem;
}

.social-tag {
  font-size: 1.4em;
}

.social-media img{
  width: 11%;
}

.social-media .confluence-icon{
  width: 9%;
}

.footer-copyright {
  font-size: 1em;
}

.text-meta {
  font-size: 0.8em;
}
.center-container {
  margin-top: 18vh;
}
.navbar-expand-lg {
  position: fixed !important;
  height: 6.2rem;
  width: 75%;
  background-color: white;
  z-index: 9;
}

/*Search Bar CSS*/

.search {
  position: relative;
  width: 224px;
  height: 33px;
}

.round {
  width: 100%;
  padding: 5px 30px 5px 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border: 1.5px #333f48 solid !important;
  border-radius: 0.3rem;
}

.corner {
  position: absolute;
  top: 8px;
  left: 194px;
  height: 20px;
  width: 20px;
  z-index: 10;
  border-radius: 0px;
  border: none;
  background: url("./assets/images/Logo-Search-Black.svg") no-repeat; /*Set the bg image here. with "no-repeat" */
  background-size: cover;
}

/* .corner:hover {
  background: url("./assets/images/Logo-Search-Black.svg") no-repeat;
  background-size: cover;
} */

.service-details {
  font-size: 1.2em;
  flex-flow: column;
  color: #333f48 !important;
}

.borderStyle {
  border: 1.5px #dbe2e9 solid !important;
  border-radius: 0.3rem;
}

.page-content-wrapper {
  position: unset;
  min-width: 0;
  width: 75%;
  margin-left: 25%;
}

.redDot,
.yellowDot,
.greenDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid red;
  border-radius: 50%;
  background: red;
  margin-left: 5px;
}

.yellowDot {
  background: #ede728;
  border: 1px solid #ede728;
}

.greenDot {
  background: rgb(4, 240, 4);
  border: 1px solid rgb(4, 240, 4);
}

.global-icon .dropdown-menu {
  font-size: 1.3em !important;
  border: 1.5px #dbe2e9 solid !important;
  border-radius: 0.3rem !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #005eb8 !important;
}

.global-icon .dropdown-item:focus,
.global-icon .dropdown-item:hover {
  background-color: #dbe2e9 !important;
}

.carousel {
  display: flex;
  flex-flow: wrap-reverse;
}
/* .carousel-inner{
    padding: 0 1rem ;
  } */

.carousel,
.carousel-inner,
.carousel-item,
.col-sm-4 {
  position: unset !important;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  width: 100%;
  position: unset!important;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 0 !important;
}

.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 5px;
  margin: 0 8px;
  background: #333F48;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
  border-bottom: 0px;
}

.carousel-indicators button .active {
  opacity: 1;
}

.carousel-buttons button {
  height: 1.7rem;
  white-space: nowrap;
  font-size: 0.9em;
  padding: 0 2px;
  margin: 1px 1.666px !important;
  background: #dbe2e9;
  color: #333f48;
}

.carousel-buttons a {
  color: #333f48 !important;
}

.carousel-buttons .dropdown-toggle:hover {
  color: white !important;
}

/* Might use in Future */
.main-dashboard .thumb-wrapper {
  height: 18vh;
}

.loader {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 900; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.loader .row {
  align-content: center;
}

.toggle-persona .dropdown-toggle {
  color: white;
}

/*Cookie Consent Begin*/
#cookieConsent {
  text-align: left;
  background-color: rgba(20, 20, 20, 0.8);
  min-height: 26px;
  font-size: 20px;
  color: #ccc;
  line-height: 26px;
  padding: 15px 25px 15px 30px;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999;
  position: fixed;
}
#cookieConsent a {
  color: #005eb8;
  text-decoration: none;
}
#closeCookieConsent {
  float: right;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: -15px 0 0 0;
  font-weight: bold;
}
#closeCookieConsent:hover {
  color: #fff;
}
#cookieConsent a.cookieConsentOK {
  background-color: #005eb8;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  margin-top: 12px;  
  font-size: 18px;
}
#cookieConsent a.cookieConsentOK:hover {
  background-color: #e0c91f;
}
/*Cookie Consent End*/

.logoutWarningModal .modal-header{
  background-color: #f55e06;
}

.logoutWarningModal .modal-body, .logoutWarningModal .modal-footer {
  background-color: #ffebeb;
}

.logoutWarningModal .modal-footer{
  border-top: 0;
  padding: 0 1rem 0.5rem 1rem;
}

.healthStatusRed{
  color:#ff0000
}

.healthStatusYellow{
  color: #ede728
}

.healthStatusGreen{
  color:rgb(4, 240, 4)
}


/* <--------chittaranjan css ---> */
.Card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  height: "100px";
}

.Card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  /* background-color: #1f78b4; */
  /* color: white; */
}

.Card h3 {
  font-weight: 200;
}
/* spam{
  
  } */
/* 
  .card img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
  } */
.card.card-1 {
  width: "80%";
}
.card-1 {
  /* background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png); */
  /* background-repeat: no-repeat; */
  /* background-position: right; */
  /* background-size: 80px; */
  /* height: 40%; */
  /* width: "80%"; */
}

.card-2 {
  /* background-image: url(https://ionicframework.com/img/getting-started/components-card.png); */
  /* background-repeat: no-repeat;
    background-position: right;
    background-size: 80px; */
}

.card-3 {
  /* background-image: url(https://ionicframework.com/img/getting-started/theming-card.png); */
  /* background-repeat: no-repeat;
    background-position: right;
    background-size: 80px; */
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #1f78b4 !important;
  /* border-radius: 30px !important; */
}
.form-check-input:checked {
  background-color: #1f78b4 !important;
  border-color: #1f78b4 !important;
}

.btn-primary {
  color: #fff;
  background-color: #1f78b4 !important;
  border-color: #1f78b4 !important;
}
.form-label {
  color: #1f78b4 !important;
  font-weight: 400;
}
#checkbox-group {
  color: #1f78b4;
  font-weight: 400;
}
.middleItem {
  margin-top: 10%;
  margin-left: 30%;
}
.title-align {
  margin-top: 5%;
}
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin-top: -80px;
  height: 40px;
}

.Card {
  width: 20vw;
  height: 33vh;
}

.Card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.25),
    -2px -2px 10px 5px rgba(0, 0, 0, 0.22);
}

.form-check {
  /* position    : relative; */
  /* display     : block; */
  padding-left: 1.4rem !important;
}

.form-select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select.classic {
  background-image: linear-gradient(45deg, transparent 40%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 40%),
    linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 40%),
    linear-gradient(135deg, transparent 40%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}
.select-label {
  padding: 6px !important;
}
/* <----- new provisioning css ---> */
.form-mar {
  margin-left: 6px;
}
.form-wid {
  width: 45px;
}
.col-radio {
  display: flex;
  margin-top: 8px;
}
.select-height {
  height: 40px;
}

.mb-3.bucAdnCom .row {
  margin-left: 18px !important;
}

.form-switch {
  margin-left: 18px;
}
.radioselect {
  margin-top: 7px;
  font-size: 1rem;
  font-weight: 100;
}
.tableheading {
  font-size: 1rem;
}
.alignbox {
  padding-left: 1.5%;
}
.align-row {
  padding-left: 21px;
}
.fieldhelm {
  margin-left: -1%;
}
.vlanfield {
  margin-left: -1%;
  margin-top: 13px;
}
.alignupdateRow {
  padding-left: 18px;
}
.tc-manage .col-md-3 {
  position: unset !important;
}
.submit {
  margin-left: 17px;
}
.tc-manage {
  position: unset !important;
}
/* .tc-manage .row,
.tc-manage .col,
.tc-manage .col-md-3,
.tc-manage .card {
  position: unset !important;
} */
/* <----- new provisioning css End ---> */

/* <------ new subscription --------> */
.bucAdnComNew {
  margin-left: 30px !important;
}
.product-CheckBoxGroup {
  display: flex;
}
.product-checkBox {
  display: flex;
  margin-left: 20px;
}
.form-check {
  margin-left: 10px;
}
.form-height {
  height: 40px;
}
.mb-3.subscription-submit.row {
  margin-left: 23px;
  margin-top: 10px;
}
.mb-3.UpdateSubmit.row {
  margin-left: 25px;
  margin-top: 10px;
}
.newSubAlign {
  padding-left: 30px;
}
.updateSubAlign {
  padding-left: 3%;
}
.productCheck {
  color: red;
  margin-left: -36%;
}
.errorMsg {
  color: red;
}

/* <------ new subscription End -----> */

/* <----- user manage -----> */
.mb-3.submit-button.row {
  margin-left: 10px;
  margin-top: 20px;
}
/* <------- user manage end -------> */

/* <-------- manage component ---------> */
.aligncenter {
  text-align: center;
  position: unset !important;
}
/* <--------- manage component end --------> */

@media (max-width: 990px) {
  .card {
    margin: 20px;
  }
}

/* <---- end of chittaranjan css ---> */
